In [105]:
import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

# -----------------------------
# CONFIGURATION
# -----------------------------
URL = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
DB_NAME = 'Movies.db'
TABLE_NAME = 'Top_50'
CSV_PATH = 'top_50_films.csv'
LOG_FILE = 'etl_log.txt'



# -----------------------------
# LOGGING FUNCTION
# -----------------------------
def log_progress(message):
    """Log the progress of ETL steps with timestamps."""
    timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    with open(LOG_FILE, 'a') as f:
        f.write(f"{timestamp} - {message}\n")


# -----------------------------
# EXTRACT FUNCTION
# -----------------------------


def extract(url):
    """Extract top 50 movie data from the webpage."""
    html_page = requests.get(url).text
    data = BeautifulSoup(html_page, 'html.parser')

    tables = data.find_all('tbody')
    rows = tables[0].find_all('tr')

    df = pd.DataFrame(columns=[
        "Film", "Year", "IMDb's Top 250",
        "Rotten Tomatoes' Top 100", "Empire's Top 100",
        "AFI's Top 100", "BFI's Top 100"
    ])
    
    count = 0
    for row in rows:
        if count >= 50:  # 50 filmi aldıysak dur
            break

        col = row.find_all('td')
        if len(col) != 0:
            data_dict = {
                'Film': col[1].text.strip(),
                'Year': col[2].text.strip(),
                "Rotten Tomatoes' Top 100": col[3].text.strip(),
                "IMDb's Top 250": col[4].text.strip(),
                "Empire's Top 100": col[5].text.strip(),
                "AFI's Top 100": col[6].text.strip(),
                "BFI's Top 100": col[7].text.strip()
            }
            df = pd.concat([df, pd.DataFrame([data_dict])], ignore_index=True)
            count += 1

    log_progress("Extraction completed successfully.")
    return df


# -----------------------------
# TRANSFORM FUNCTION
# -----------------------------
def transform(df):
    for col in df.columns:
        if col != "Film":
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df[col] = df[col].fillna(0).astype(int)  # NaN'ları 0 yapıyoruz
    log_progress("Transformation completed successfully.")
    return df

# -----------------------------
# LOAD FUNCTION
# -----------------------------
def load(df, csv_path, db_name, table_name):
    """Save the data into CSV and SQLite database."""
    df.to_csv(csv_path, index=False)
    log_progress(f"Data saved to CSV: {csv_path}")

    conn = sqlite3.connect(db_name)
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    conn.close()
    log_progress(f"Data loaded into database: {db_name} (table: {table_name})")


# -----------------------------
# MAIN ETL PIPELINE
# -----------------------------
def run_etl():
    log_progress("ETL Job Started")
    data = extract(URL)
    data = transform(data)
    load(data, CSV_PATH, DB_NAME, TABLE_NAME)
    log_progress("ETL Job Completed Successfully")
    return data


# Run the ETL process
if __name__ == "__main__":
    run_etl()

In [106]:
pd.read_csv('top_50_films.csv')

,Film,Year,IMDb's Top 250,Rotten Tomatoes' Top 100,Empire's Top 100,AFI's Top 100,BFI's Top 100
0,The Godfather,1972,2,17,3,2,21
1,Citizen Kane,1941,93,2,40,1,2
2,Casablanca,1942,42,8,33,3,84
3,"The Godfather, Part II",1974,4,99,14,32,31
4,Singin' in the Rain,1952,85,52,67,5,20
5,Psycho,1960,32,88,81,14,35
6,Rear Window,1954,49,47,72,48,53
7,Apocalypse Now,1979,55,0,29,30,14
8,2001: A Space Odyssey,1968,89,0,23,15,6
9,Seven Samurai,1954,20,49,65,0,17
10,Vertigo,1958,99,0,50,9,1
11,Sunset Blvd,1950,60,21,0,16,63
12,Modern Times,1936,45,4,0,78,63
13,Lawrence of Arabia,1962,95,0,62,7,81
14,North by Northwest,1959,98,79,0,55,53
15,Star Wars,1977,27,0,11,13,0
16,Parasite,2019,35,6,18,0,0
17,Schindler's List,1993,6,0,46,8,0
18,Lord of the Rings: The Fellowship of the Ring,2001,9,0,1,50,0
19,Shawshank Redemption,1994,1,0,5,72,0
20,It's a Wonderful Life,1946,21,0,44,20,0
21,Pulp Fiction,1994,8,0,7,94,0
22,Avengers: Endgame,2019,81,7,22,0,0
23,City Lights,1931,51,0,0,11,50
24,One Flew Over the Cuckoo's Nest,1975,18,0,66,33,0
25,Goodfellas,1990,17,0,10,92,0
26,Raiders of the Lost Ark,1981,56,0,9,66,0
27,12 Angry Men,1957,5,0,42,87,0
28,The Silence of the Lambs,1991,22,0,41,74,0
29,Taxi Driver,1976,0,0,55,52,31
30,Saving Private Ryan,1998,24,0,54,71,0
31,E.T. the Extra Terrestrial,1982,0,48,79,24,0
32,Alien,1979,50,84,21,0,0
33,Spider-Man: Into the Spider-verse,2018,70,19,70,0,0
34,Blade Runner,1982,0,0,16,97,69
35,Double Indemnity,1944,100,54,0,29,0
36,The Dark Knight,2008,3,0,4,0,0
37,The Wizard of Oz,1939,0,3,0,10,0
38,Star Wars: Episode V- The Empire Strikes Back,1980,15,0,2,0,0
39,The Searchers,1956,0,0,0,12,7
40,Mad Max: Fury Road,2015,0,18,12,0,0
41,Inception,2010,13,0,19,0,0
42,Lord of the Rings: Return of the King,2003,7,0,27,0,0
43,The Matrix,1999,16,0,20,0,0
44,Fight Club,1999,12,0,25,0,0
45,Back to the Future,1985,30,0,13,0,0
46,It Happened One Night,1934,0,1,0,46,0
47,"The Good, the Bad, and the Ugly",1966,10,0,38,0,0
48,Lord of the Rings: The Two Towers,2002,14,0,34,0,0
49,All About Eve,1950,0,22,0,28,0